.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.lineNumberSpace {
  width: fit-content;
  padding-left: 5pt;
  padding-right: 5pt;
  white-space: nowrap;
  background-color: rgb(164, 159, 150);
  margin: 0;
}

.lineNumber {
  /* background-color: rgb(160, 246, 246); */
  text-align: left;
  white-space: pre-line;
  margin: 0;
  min-width: max-content;
}

.lineNumber:hover {
  background-color: rgb(120, 115, 109);
}