.App {
  /* display: flex; */
  background-color: rgb(255, 255, 255);
}

.lineNumberSpace {
  width: fit-content;
  padding-left: 5pt;
  padding-right: 5pt;
  white-space: nowrap;
  background-color: rgb(164, 159, 150);
  margin: 0;
  display: inline-block;
}

.lineNumber {
  /* background-color: rgb(160, 246, 246); */
  text-align: left;
  white-space: pre-line;
  margin: 0;
  min-width: max-content;
}

.lineNumber:hover {
  background-color: rgb(120, 115, 109);
}

.codeSpace {
  background-color: rgb(120, 115, 109);
  margin: 0;
  /* flex-grow: 1; */
  display:inline-block;
}

.lineCode {
  margin: 0;
  flex-grow: 1;
  white-space: pre;
  height:fit-content;
  width: 900pt;
  word-wrap: break-word
}

.lineCode:hover {
  background-color: rgb(164, 159, 150);
}